$color-primary: #D4EAF7;
$color-primary-200: #b6CCD8;
$color-primary-300: #3B3C3D;
$color-accent: #71C4EF;
$color-accent-200: #00668C;
$color-text: #1D1C1C;
$color-text-200: #313D44;
$color-bg: #FFFFFF;
$color-bg-200: #FBFBFB;
$color-bg-300: #CCCBC8;

$font-size: 16px;
$font-family: "Nunito Sans", sans-serif;
