*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.vscode

# wordpress specific
uploads/
upgrade/
backup-db/*
advanced-cache.php
wp-cache-config.php
cache/*
cache/supercache/*
blogs.dir/

vendor/
node_modules/
ai1wm-backups/
plugins/*

index.php
themes/twenty*
themes/index.php
plugins/index.php
plugins/akismet*

themes/*/assets/css/*
themes/*/assets/js/*

!themes/*/assets/css/bootstrap*
!themes/*/assets/js/bootstrap*
